<nav class="nav">
    <div class="nav__left">
        <div class="input-box__text">
            <div class="facebook-logo">
                <img src="/assets/images/facebook-svg.jpg" alt="Facebook" width="40px" height="40px">
            </div>
            <label for="search-input">
                <input type="search" id="search-input" name="search-input" placeholder="Search Facebook">
            </label>
        </div>
    </div>
    <div class="nav__middel">
        <div class="facebook-icons">
            <div class="facebook-icons__icons active"><i class="ri-home-fill"></i></div>
            <div class="facebook-icons__icons"><i class="ri-flag-2-line"></i></div>
            <div class="facebook-icons__icons"><i class="ri-movie-line"></i></div>
            <div class="facebook-icons__icons"><i class="ri-group-2-line"></i></div>
            <div class="facebook-icons__icons"><i class="ri-microsoft-line"></i></div>
        </div>
    </div>
    <div class="nav__right">
        <div class="facebook-services">
            <div class="user-icon">
                <img class="user-img" src="/assets/images/user-image.jpg" alt="user image">
            </div>
            <div class="facebook-services__services"><i class="ri-grid-fill"></i></div>
            <div class="facebook-services__services"><i class="ri-messenger-fill"></i></div>
            <div class="facebook-services__services"><i class="ri-notification-4-fill"></i></div>
            <div class="facebook-services__services"><i class="ri-arrow-down-s-fill"></i></div>
        </div>
    </div>
</nav>