
.facebook-shortcuts{
    &__shortcut{
        @extend %content-component;
        padding: rem(10) 0;

        i{
            color: $active-color;
            font-size: 1.4rem;
        }
    }
}

.facebook-favorites{
    &__shortcut{
        @extend %content-component;
        padding: rem(5) 0;

        .favorite-image{
            img{
                @include img-rounded(40);
            }
        }
    }
}