nav, .nav{
    background-color: white;
    @include flex(space-between, center);
    padding: $primary-padding;
    box-shadow: 0 rem(3) rem(8) #0000000d;
    
    &__left {
        flex: 25% 0 0;
        max-width: $sidebar-width;
    }

    &__middel {
        flex: 50% 0 0;
        max-width: $feed-width;
    }

    &__right {
        flex: 25% 0 0;
        max-width: $sidebar-width;
    }

    .facebook-icons{
        @include flex(space-around, center);
        font-size: 1.8rem;
        color: $icon-color;

        .active{
            color: $active-color;
        }
    }
    .facebook-services{
        $facebook-services-element-size: 40;
        @include flex(space-around, center);

        .user-img{
            @include img-rounded($facebook-services-element-size);
        }

        &__services{
            @include flex(center, center);
            @include circle-icone($facebook-services-element-size);
            background-color: $icon-background-color;
            font-size: 1.4rem;
        }
    
    }
}