%content-component{
    @include flex(left, center, 5);
    font-size: 1rem;
    font-weight: 500;
}
.page-content {
    @include flex(space-between, top);
    padding: $primary-padding;

    &__left {
        flex: 25% 0 0;
        max-width: $sidebar-width;
    }

    &__middel {
        flex: 50% 0 0;
        max-width: $feed-width;
    }

    &__right {
        flex: 25% 0 0;
        max-width: $sidebar-width;
    }
}

.seperator{
    border-top: 1px solid #ccc;
    padding: $primary-padding;
    margin-top: $primary-padding;
}

@import '_content-left.scss';
@import '_content-right.scss';
@import '_content-middel.scss';