<div class="wrapper">
    <ul class="facebook-shortcuts">
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-user-fill"></i>
            <span class="facebook-shortcuts__shortcut__text">Friends</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-group-2-line"></i>
            <span class="facebook-shortcuts__shortcut__text">Groups</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-movie-line"></i>
            <span class="facebook-shortcuts__shortcut__text">Watch</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-store-2-line"></i>
            <span class="facebook-shortcuts__shortcut__text">Marketplace</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-history-line"></i>
            <span class="facebook-shortcuts__shortcut__text">Memories</span>
        </li>
    </ul>

    <h4 class="seerator">Your Shortcuts</h4>

    <ul class="facebook-favorites">
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="" alt="">
            </div>
            <span class="facebook-favorites-text">First designer</span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="" alt="">
            </div>
            <span class="facebook-favorites-text">Second designer</span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="" alt="">
            </div>
            <span class="facebook-favorites-text">Third designer</span>
        </li>
    </ul>
</div>