<div class="wrapper">
    <h4>Sponsered</h4>
    <div class="facebook-sponsers">
        <div class="facebook-sponsers__sponser">
            <img src="https://www.westernunion.com/staticassets/R24-06.01.0/media/BE-NL-hero-image-home-option2-scaled-1718756664664.webp" 
            alt="Wstern Union" class="facebook-sponsers__sponser-image">
            <div class="facebook-sponsers__sponser-text">
                Send money from the Netherlands to over 200 countries and territories online, in person or with our app. It’s a quick and easy way to reach friends and family in your home country or elsewhere in the Netherlands. With Western Union, you can reach your loved ones virtually anywhere.
            </div>
        </div>
        <div class="facebook-sponsers__sponser">
            <img src="https://www.dhl.com/content/experience-fragments/dhl/en/core/sub_page_teaser/image_left_3_greycolumns/xbu_master_spt_dhl_home_enterprise_logistics_services/_jcr_content/root/container_copy_copy_/container_copy/image.coreimg.80.1197.jpeg/1653309259090/employees-working-in-warehouse-0005.jpeg" 
            alt="DHL for Your Business" class="facebook-sponsers__sponser-image">
            <div class="facebook-sponsers__sponser-text">
                Power your small and medium-sized business success with world-class shipping and logistics. Our team of experts can help you address the ever changing need of your customers.
            </div>
        </div>
    </div> 
    <h4 class="seperator">Your Pages</h4>
    <div class="facebook-pages">
        <div class="facebook-pages__page">
            <img src="" 
            alt="" class="facebook-pages__page-image">
            <div class="facebook-pages__page-text">
                
            </div>
        </div>
        <div class="facebook-pages__page">
            <img src="" 
            alt="" class="facebook-pages__page-image">
            <div class="facebook-pages__page-text">
                
            </div>
        </div>
    </div> 
    <h4 class="seperator">Contacts</h4>
    <div class="facebook-contacts">
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/10/64/64" 
            alt="" class="facebook-contacts__contact-image">
            <div class="facebook-contacts__contact-text">
                Mickel
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/20/64/64" 
            alt="" class="facebook-contacts__contact-image">
            <div class="facebook-contacts__contact-text">
                Ahmad
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/30/64/64" 
            alt="" class="facebook-contacts__contact-image">
            <div class="facebook-contacts__contact-text">
                Stif
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/40/64/64" 
            alt="" class="facebook-contacts__contact-image">
            <div class="facebook-contacts__contact-text">
                Nader
            </div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/50/64/64" 
            alt="" class="facebook-contacts__contact-image">
            <div class="facebook-contacts__contact-text">
                Artugrl
            </div>
        </div>
    </div> 
</div>