<div class="wrapper">
    <div class="stories">
        <div class="story story-1">
            <img class="user-img" src="/assets/images/user-image.jpg" alt="user image">
            <div class="story__username">Nour</div>
        </div>
        <div class="story story-2">
            <img class="user-img" src="/assets/images/user-image.jpg" alt="user image">
            <div class="story__username">Karim</div>
        </div>
        <div class="story story-3">
            <img class="user-img" src="/assets/images/user-image.jpg" alt="user image">
            <div class="story__username">Imad</div>
        </div>
        <div class="story story-4">
            <img class="user-img" src="/assets/images/user-image.jpg" alt="user image">
            <div class="story__username">Ahmad</div>
        </div>
        <div class="story story-5">
            <img class="user-img" src="/assets/images/user-image.jpg" alt="user image">
            <div class="story__username">Mickel</div>
        </div>
        <div class="story story-6">
            <img class="user-img" src="/assets/images/user-image.jpg" alt="user image">
            <div class="story__username">Stif</div>
        </div>
    </div>

    <div class="create-post">
        <div class="input-box__text">
            <img src="/assets/images/user-image.jpg" alt="user image" class="create-post__image">
            <label for="create-post">
                <input type="text" id="create-post" placeholder="What's on your mind, Imad?">
            </label>
        </div>
        <div class="create-post__buttons">
            <div class="create-post__buttons__button">
                <i class="ri-video-add-fill"></i>
                <span>Live video</span>
            </div>
            <div class="create-post__buttons__button">
                <i class="ri-image-line"></i>
                <span>Photo/video</span>
            </div>
            <div class="create-post__buttons__button">
                <i class="ri-emotion-happy-line"></i>
                <span>Feeling/activity</span>
            </div>
        </div>
    </div>

    <div class="create-room">
        <div class="create-room__button">
            <i class="ri-video-add-fill"></i>
            <span>Create room</span>
        </div>
        <div class="create-room__images">
            <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
            <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
            <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
            <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
            <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
            <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Imad Mohamad</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="data">2d ago</div>
                </div>
            </div>
            <div class="news-feed__header__options">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quas impedit, nulla asperiores doloremque tempora! Iure neque laudantium ab reprehenderit!</p>
            <img class="news-feed__feed__image" 
            src="https://picsum.photos/id/238/600/340" alt="">
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__footer__comments">
                19 Comments
            </div>
        </footer>
        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <div class="facebook-logo">
                    <img src="/assets/images/user-image.jpg" alt="">
                </div>
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment ad Imad?">
                </label>
            </div>
        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Imad Mohamad</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="data">2d ago</div>
                </div>
            </div>
            <div class="news-feed__header__options">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quas impedit, nulla asperiores doloremque tempora! Iure neque laudantium ab reprehenderit!</p>
            <img class="news-feed__feed__image" 
            src="https://picsum.photos/id/338/600/340" alt="">
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__footer__comments">
                19 Comments
            </div>
        </footer>
        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <div class="facebook-logo">
                    <img src="/assets/images/user-image.jpg" alt="">
                </div>
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment ad Imad?">
                </label>
            </div>
        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Imad Mohamad</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="data">2d ago</div>
                </div>
            </div>
            <div class="news-feed__header__options">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quas impedit, nulla asperiores doloremque tempora! Iure neque laudantium ab reprehenderit!</p>
            <img class="news-feed__feed__image" 
            src="https://picsum.photos/id/738/600/340" alt="">
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__footer__comments">
                19 Comments
            </div>
        </footer>
        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <div class="facebook-logo">
                    <img src="/assets/images/user-image.jpg" alt="">
                </div>
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment ad Imad?">
                </label>
            </div>
        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Imad Mohamad</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="data">2d ago</div>
                </div>
            </div>
            <div class="news-feed__header__options">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quas impedit, nulla asperiores doloremque tempora! Iure neque laudantium ab reprehenderit!</p>
            <img class="news-feed__feed__image" 
            src="https://picsum.photos/id/538/600/340" alt="">
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__footer__comments">
                19 Comments
            </div>
        </footer>
        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <div class="facebook-logo">
                    <img src="/assets/images/user-image.jpg" alt="">
                </div>
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment ad Imad?">
                </label>
            </div>
        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img class="create-room__image" src="/assets/images/user-image.jpg" alt="User image">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Imad Mohamad</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="data">2d ago</div>
                </div>
            </div>
            <div class="news-feed__header__options">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quas impedit, nulla asperiores doloremque tempora! Iure neque laudantium ab reprehenderit!</p>
            <img class="news-feed__feed__image" 
            src="https://picsum.photos/id/638/600/340" alt="">
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__footer__comments">
                19 Comments
            </div>
        </footer>
        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <div class="facebook-logo">
                    <img src="/assets/images/user-image.jpg" alt="">
                </div>
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment ad Imad?">
                </label>
            </div>
        </div>
    </div>
</div>